<div class="col-lg-12">
	<h2 class="text-center mt-4 mb-4 font-weight-bold text-uppercase">Create New Employee</h2>
	<!-- Form Start -->
    <%= render 'shared/form', employee: @employee %>
    <!-- Form Ends -->
</div>