<!-- Partials always start with underscore -->
<ul>
    <li><%= link_to 'About Us', about_path %></li>
    <li><%= link_to 'Contact Us', contact_path %></li>
    <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
    <li><%= link_to 'Terms and Condition', terms_and_conditions_path %></li>
</ul>

