<div class="col-lg-12">
	<h2 class="text-center mt-4 mb-4 font-weight-bold text-uppercase">Edit existing document information</h2>
    <!-- Form Start -->
    <%= render 'form', document: @document %>
    <!-- Form Ends -->
</div>